# Extracción, transformación y carga de tribunales

## Extracción de los datos

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Conexión a la base de datos
engine = create_engine('mysql+pymysql://civil7:v6TCV8KUFtqCXKnv@10.0.52.250/c1jurisprudencia')

In [2]:
engine = create_engine('mysql+pymysql://root:sistemas1@localhost/c1jurisprudencia')

In [3]:
# TRIBUNALES
# Consulta SQL para seleccionar los datos que deseas extraer
query = "SELECT * FROM tribunales"

# Conecta a la base de datos
connection = engine.raw_connection()
cursor = connection.cursor()

# Ejecuta la consulta y carga los resultados en un DataFrame
cursor.execute(query)
df = pd.DataFrame(cursor.fetchall(), columns=[desc[0] for desc in cursor.description])

# Cierra el cursor y la conexión
cursor.close()
connection.close()

In [4]:
df.head()

,idtribunal,descripcion,localidad,CodJuz,Ord,Activo,Loc
0,1,SUPERIOR TRIBUNAL DE JUSTICIA,FORMOSA,0,01,1,Fsa.
1,2,EXCMA. CAMARA CIVIL Y COMERCIAL,FORMOSA,0,02,1,Fsa.
2,3,EXCMA. CAMARA CRIMINAL Y CORRECCIONAL Nº1,FORMOSA,0,04,1,Fsa.
3,4,EXCMA. CAMARA CRIMINAL Y CORRECCIONAL Nº2,FORMOSA,0,05,1,Fsa.
4,5,TRIBUNAL DE FAMILIA,FORMOSA,0,06,1,Fsa.

## Trasnformación de los datos

### Descripción de los datos

In [5]:
registros   = df.shape[0]
registros

37

In [6]:
columnas    = df.shape[1]
columnas

7

In [7]:
df.columns

Index(['idtribunal', 'descripcion', 'localidad', 'CodJuz', 'Ord', 'Activo',
       'Loc'],
      dtype='object')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   idtribunal   37 non-null     int64
 1   descripcion  37 non-null     object
 2   localidad    37 non-null     object
 3   CodJuz       37 non-null     int64
 4   Ord          37 non-null     object
 5   Activo       37 non-null     object
 6   Loc          37 non-null     object
dtypes: int64(2), object(5)
memory usage: 2.1+ KB

In [9]:
df['descripcion'] = df['descripcion'].astype(str)
df['localidad'] = df['localidad'].astype(str)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   idtribunal   37 non-null     int64
 1   descripcion  37 non-null     object
 2   localidad    37 non-null     object
 3   CodJuz       37 non-null     int64
 4   Ord          37 non-null     object
 5   Activo       37 non-null     object
 6   Loc          37 non-null     object
dtypes: int64(2), object(5)
memory usage: 2.1+ KB

In [11]:
df.describe()

       idtribunal     CodJuz
count   37.000000  37.000000
mean    19.000000   1.324324
std     10.824355   2.148049
min      1.000000   0.000000
25%     10.000000   0.000000
50%     19.000000   0.000000
75%     28.000000   2.000000
max     37.000000   7.000000

### Limpieza de datos

#### Valores nulos

In [12]:
for columna in df.columns:
    print(f"Columna: {columna}")
    
    # Encuentra valores nulos en la columna
    valores_nulos = df[columna].isnull().sum()
    print(f"Valores nulos: {valores_nulos}")
     
    # Imprime una línea en blanco para separar las columnas
    print("\n")

Columna: idtribunal
Valores nulos: 0


Columna: descripcion
Valores nulos: 0


Columna: localidad
Valores nulos: 0


Columna: CodJuz
Valores nulos: 0


Columna: Ord
Valores nulos: 0


Columna: Activo
Valores nulos: 0


Columna: Loc
Valores nulos: 0

#### Registros duplicados

In [13]:
# Encuentra valores duplicados en la columna
valores_duplicados = df.duplicated().sum()
print(f"Valores duplicados: {valores_duplicados}")

Valores duplicados: 0

#### Registros con valores vacios

In [14]:
for columna in df.columns:
    print(f"Columna: {columna}")
    
    # Encuentra valores vacios en la columna
    valores_nulos = df.loc[df[columna] == '']   
    
    if valores_nulos.empty:
        print(f"Valores vacios: 0")
    else:
        print(f"Valores vacios ({len(valores_nulos)}): ")
        print("\n")
        print(valores_nulos)

     
    # Imprime una línea en blanco para separar las columnas
    print("\n")

Columna: idtribunal
Valores vacios: 0


Columna: descripcion
Valores vacios: 0


Columna: localidad
Valores vacios (4):


    idtribunal                            descripcion localidad  CodJuz Ord  \
26          27                   TRIBUNAL DEL TRABAJO                 0  07
27          28  EXCMA. CAMARA CRIMINAL Y CORRECCIONAL                 0  03
28          29              JUZGADO CIVIL y COMERCIAL                 0  16
29          30     JUZGADO INSTRUCCION Y CORRECCIONAL                 0  24

   Activo  Loc
26      1  Fsa
27      1  Fsa
28      1  Fsa
29      0  Fsa


Columna: CodJuz
Valores vacios: 0


Columna: Ord
Valores vacios: 0


Columna: Activo
Valores vacios: 0


Columna: Loc
Valores vacios: 0