# Extracción, transformación y carga de datos

## Extracción de los datos

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
# Conexión a la base de datos
engine = create_engine('mysql+pymysql://civil7:v6TCV8KUFtqCXKnv@10.0.52.250/c1jurisprudencia')

In [4]:

# Consulta SQL para seleccionar los datos que deseas extraer
query = "SELECT * FROM fallos"

# Conecta a la base de datos
connection = engine.raw_connection()
cursor = connection.cursor()

# Ejecuta la consulta y carga los resultados en un DataFrame
cursor.execute(query)
df = pd.DataFrame(cursor.fetchall(), columns=[desc[0] for desc in cursor.description])

# Cierra el cursor y la conexión
cursor.close()
connection.close()

In [5]:
df.head()

,Id_Fallos,NroFallo,FechaFallo,Organismo,Partes,Fallo,Tipo,Resolucion,Expediente,Fecha,fecord
0,42,9966,10/03/2005,2,TELECOM ARG. S.A. S/ ACCION AUTONOMA DE NULIDA...,V I S T O: \r\nEstos autos caratulados: “TELEC...,,,,0000-00-00 00:00:00,2005/03/10
1,2,13453,02/02/2009,2,CAZAL CARLOS ALBERTO C/ VEGA MARIO S/ EJECUTIVO,V I S T O:\r\nEstos autos caratulados: “CAZAL ...,,,,0000-00-00 00:00:00,2009/02/02
2,3,13455,02/02/2009,2,INCIDENTE DE ESTIMACION DE HONORARIOS Y MEDIDA...,V I S T O:\r\nEstos autos caratulados: “INCIDE...,,,,0000-00-00 00:00:00,2009/02/02
3,4,13457,02/02/2009,2,"BIBOLINI, JOSE MARIA ANGEL S/ SUCESORIO ‘INCID...",V I S T O:\r\nEstos autos caratulados: “BIBOLI...,,,,0000-00-00 00:00:00,2009/02/02
4,5,13459,03/02/2009,2,AGUAS DE FORMOSA C/ FRIGORIFICO NORTE S.R.L. S...,V I S T O:\r\nEstos autos caratulados: “AGUAS ...,,,,0000-00-00 00:00:00,2009/02/03

## Trasnformación de los datos

### Descripción de los datos

In [6]:
df.shape

(18047, 11)

In [7]:
df.columns

Index(['Id_Fallos', 'NroFallo', 'FechaFallo', 'Organismo', 'Partes', 'Fallo',
       'Tipo', 'Resolucion', 'Expediente', 'Fecha', 'fecord'],
      dtype='object')

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18047 entries, 0 to 18046
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Id_Fallos   18047 non-null  int64
 1   NroFallo    18047 non-null  int64
 2   FechaFallo  18047 non-null  object
 3   Organismo   18047 non-null  int64
 4   Partes      18047 non-null  object
 5   Fallo       18047 non-null  object
 6   Tipo        18047 non-null  object
 7   Resolucion  16000 non-null  object
 8   Expediente  16000 non-null  object
 9   Fecha       18047 non-null  object
 10  fecord      18047 non-null  object
dtypes: int64(3), object(8)
memory usage: 1.5+ MB

In [42]:
df['Partes'] = df['Partes'].astype(str)
df['Fallo'] = df['Fallo'].astype(str)

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18047 entries, 0 to 18046
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Id_Fallos   18047 non-null  int64
 1   NroFallo    18047 non-null  int64
 2   FechaFallo  18047 non-null  object
 3   Organismo   18047 non-null  int64
 4   Partes      18047 non-null  object
 5   Fallo       18047 non-null  object
 6   Tipo        18047 non-null  object
 7   Resolucion  16000 non-null  object
 8   Expediente  16000 non-null  object
 9   Fecha       18047 non-null  object
 10  fecord      18047 non-null  object
dtypes: int64(3), object(8)
memory usage: 1.5+ MB

In [8]:
df.describe()

          Id_Fallos       NroFallo     Organismo
count  18047.000000   18047.000000  18047.000000
mean    9117.725772   10703.625312      9.062393
std     5260.313307    6576.785305     12.026633
min        2.000000       1.000000      0.000000
25%     4533.500000    5080.500000      2.000000
50%     9154.000000   11476.000000      2.000000
75%    13675.500000   15716.500000      9.000000
max    18189.000000  170003.000000     37.000000

### Limpieza de datos

#### Valores nulos

In [29]:
for columna in df.columns:
    print(f"Columna: {columna}")
    
    # Encuentra valores nulos en la columna
    valores_nulos = df[columna].isnull().sum()
    print(f"Valores nulos: {valores_nulos}")
     
    # Imprime una línea en blanco para separar las columnas
    print("\n")

Columna: Id_Fallos
Valores nulos: 0


Columna: NroFallo
Valores nulos: 0


Columna: FechaFallo
Valores nulos: 0


Columna: Organismo
Valores nulos: 0


Columna: Partes
Valores nulos: 0


Columna: Fallo
Valores nulos: 0


Columna: Tipo
Valores nulos: 0


Columna: Resolucion
Valores nulos: 2047


Columna: Expediente
Valores nulos: 2047


Columna: Fecha
Valores nulos: 0


Columna: fecord
Valores nulos: 0

#### Registros duplicados

In [30]:
# Encuentra valores duplicados en la columna
valores_duplicados = df.duplicated().sum()
print(f"Valores duplicados: {valores_duplicados}")

Valores duplicados: 0

#### Registros con valores vacios

In [39]:
for columna in df.columns:
    print(f"Columna: {columna}")
    
    # Encuentra valores vacios en la columna
    valores_nulos = df.loc[df[columna] == '']   
    
    if valores_nulos.empty:
        print(f"Valores vacios: 0")
    else:
        print(f"Valores vacios: {valores_nulos}")
     
    # Imprime una línea en blanco para separar las columnas
    print("\n")

Columna: Id_Fallos
Valores vacios: 0


Columna: NroFallo
Valores vacios: 0


Columna: FechaFallo
Valores vacios: 0


Columna: Organismo
Valores vacios: 0


Columna: Partes
Valores vacios:        Id_Fallos  NroFallo  FechaFallo  Organismo Partes  \
718          722     12946  03/07/2008          2
3277        3287      9542  27/04/2011          1
8029        8136     10778  11/03/2015         31
8030        8137     10779  11/03/2015         31
9275        9375      9251  14/10/2015          4
10458      10555        13      //2000          0
11847      11952     18733      //2000          0
14432      14571     16173      //2000          0
14794      14933     19739      //2000          0
15006      15145     19810  26/10/2020          2
15016      15155     19820      //2000          0
15529      15663      5681  10/08/2021         32

                                                   Fallo Tipo Resolucion  \
718
3277   VISTOS:\r\n\t\t\tEstos autos caratulados: “ARI...
8029   FORMOSA,   Once  de marzo  de dos mil quince.-...
8030   FORMOSA,    Once   de marzo  de dos mil quince...
9275
10458
11847
14432
14794
15006  FORMOSA, VEINTISEIS DE OCTUBRE DEL AÑO DOS MIL...
15016
15529  FORMOSA,  10  de agosto de dos mil veintiuno.\...

      Expediente                Fecha      fecord
718               0000-00-00 00:00:00  2008/07/03
3277              0000-00-00 00:00:00  2011/04/27
8029              0000-00-00 00:00:00  2015/03/11
8030              0000-00-00 00:00:00  2015/03/11
9275              2016-05-26 12:12:38  2015/10/14
10458             2017-05-09 11:13:50      2000//
11847             2018-06-21 09:31:42      2000//
14432             2020-03-12 09:19:27      2000//
14794             2020-09-25 17:00:37      2000//
15006             2020-12-15 15:27:51  2020/10/26
15016             2020-12-15 16:23:26      2000//
15529             2021-09-01 16:37:19  2021/08/10


Columna: Fallo
Valores vacios:        Id_Fallos  NroFallo  FechaFallo  Organismo  \
718          722     12946  03/07/2008          2
1859        1870      8796  13/02/2009          1
9275        9375      9251  14/10/2015          4
10458      10555        13      //2000          0
10736      10833     12352  02/12/2015          0
11847      11952     18733      //2000          0
14401      14540     16156  18/02/2013          0
14404      14543     16158  18/02/2013          0
14432      14571     16173      //2000          0
14443      14582     16183  25/02/2013          0
14463      14602     16202  28/02/2013          0
14472      14611     12016  26/02/2020          0
14794      14933     19739      //2000          0
15016      15155     19820      //2000          0

                                                  Partes Fallo Tipo  \
718
1859         RODAS, SALVADOR S/ PREPARACIÓN DE LA ACCIÓN
9275
10458
10736             "ILLESCA, Silvio s/Robo - dos hechos-"
11847
14401  BANCO PROVINCIA DE FORMOSA C/ VIGGIANO CARLOS ...
14404            "SARAVIA, GLADYS ELIZABETH S/ SUCESORIO
14432
14443  "VALLEJOS MARCELINO Y OTRA C/ ELIAS AUTOMOTORE...
14463  RIQUELME, MIGUEL RICARDO C/ DECO, MARTIN ERNES...
14472  "LABORANTI, PATRICIA CRISTINA C/ COLEGIO PUBLI...
14794
15016

      Resolucion Expediente                Fecha      fecord
718                          0000-00-00 00:00:00  2008/07/03
1859                         0000-00-00 00:00:00  2009/02/13
9275                         2016-05-26 12:12:38  2015/10/14
10458                        2017-05-09 11:13:50      2000//
10736                        2017-06-13 08:54:40  2015/12/02
11847                        2018-06-21 09:31:42      2000//
14401                        2020-03-06 11:59:31  2013/02/18
14404                        2020-03-06 12:05:04  2013/02/18
14432                        2020-03-12 09:19:27      2000//
14443                        2020-03-12 10:07:15  2013/02/25
14463                        2020-03-13 09:02:36  2013/02/28
14472                        2020-03-13 09:47:32  2020/02/26
14794                        2020-09-25 17:00:37      2000//
15016                        2020-12-15 16:23:26      2000//


Columna: Tipo
Valores vacios:        Id_Fallos  NroFallo  FechaFallo  Organismo  \
0             42      9966  10/03/2005          2
1              2     13453  02/02/2009          2
2              3     13455  02/02/2009          2
3              4     13457  02/02/2009          2
4              5     13459  03/02/2009          2
...          ...       ...         ...        ...
18042      18185     20992  04/09/2023          2
18043      18186     20993  07/09/2023          2
18044      18187     20994  07/09/2023          2
18045      18188     20995  07/09/2023          2
18046      18189     20996  07/09/2023          2

                                                  Partes  \
0      TELECOM ARG. S.A. S/ ACCION AUTONOMA DE NULIDA...
1        CAZAL CARLOS ALBERTO C/ VEGA MARIO S/ EJECUTIVO
2      INCIDENTE DE ESTIMACION DE HONORARIOS Y MEDIDA...
3      BIBOLINI, JOSE MARIA ANGEL S/ SUCESORIO ‘INCID...
4      AGUAS DE FORMOSA C/ FRIGORIFICO NORTE S.R.L. S...
...                                                  ...
18042  CFN S.A EN PROCURACI&Oacute;N POR EL BANCO DE ...
18043  TARJETA NARANJA S.A. C/ GONZ&Aacute;LEZ, PATRI...
18044  SBARDELLA, RICARDO CESAR C/ GONZALEZ, MATIAS N...
18045  CFN EN PROCURACI&Oacute;N POR EL BANCO DE VALO...
18046  BANCO DE VALORES S.A. C/ SUCESORES DE ESTIGARR...

                                                   Fallo Tipo Resolucion  \
0      V I S T O: \r\nEstos autos caratulados: “TELEC...
1      V I S T O:\r\nEstos autos caratulados: “CAZAL ...
2      V I S T O:\r\nEstos autos caratulados: “INCIDE...
3      V I S T O:\r\nEstos autos caratulados: “BIBOLI...
4      V I S T O:\r\nEstos autos caratulados: “AGUAS ...
...                                                  ...  ...        ...
18042  FORMOSA, CUATRO DE SEPTIEMBRE DEL A&Ntilde;O D...            None
18043  FORMOSA, SIETE DE SEPTIEMBRE DEL A&Ntilde;O DO...            None
18044  FORMOSA, SIETE DE SEPTIEMBRE DEL A&Ntilde;O DO...            None
18045  FORMOSA, SIETE DE SEPTIEMBRE DEL A&Ntilde;O DO...            None
18046  FORMOSA, SIETE DE SEPTIEMBRE DEL A&Ntilde;O DO...            None

      Expediente                Fecha      fecord
0                 0000-00-00 00:00:00  2005/03/10
1                 0000-00-00 00:00:00  2009/02/02
2                 0000-00-00 00:00:00  2009/02/02
3                 0000-00-00 00:00:00  2009/02/02
4                 0000-00-00 00:00:00  2009/02/03
...          ...                  ...         ...
18042       None  2023-10-19 11:51:24  2023/09/04
18043       None  2023-10-19 12:11:07  2023/09/07
18044       None  2023-10-19 12:15:57  2023/09/07
18045       None  2023-10-19 12:27:38  2023/09/07
18046       None  2023-10-19 12:53:51  2023/09/07

[17484 rows x 11 columns]


Columna: Resolucion
Valores vacios:        Id_Fallos  NroFallo  FechaFallo  Organismo  \
0             42      9966  10/03/2005          2
1              2     13453  02/02/2009          2
2              3     13455  02/02/2009          2
3              4     13457  02/02/2009          2
4              5     13459  03/02/2009          2
...          ...       ...         ...        ...
16000      16136     12303  15/11/2021         31
16001      16137     12304  15/11/2021         31
16002      16138     12305  23/11/2021         31
16003      16139     12306  23/11/2021         31
16004      16140     12307  23/11/2021         31

                                                  Partes  \
0      TELECOM ARG. S.A. S/ ACCION AUTONOMA DE NULIDA...
1        CAZAL CARLOS ALBERTO C/ VEGA MARIO S/ EJECUTIVO
2      INCIDENTE DE ESTIMACION DE HONORARIOS Y MEDIDA...
3      BIBOLINI, JOSE MARIA ANGEL S/ SUCESORIO ‘INCID...
4      AGUAS DE FORMOSA C/ FRIGORIFICO NORTE S.R.L. S...
...                                                  ...
16000  FERNÁNDEZ, LIDIA MABEL Y OTROS C/ COMISIÓN DE ...
16001  FERNÁNDEZ, LIDIA MABEL Y OTROS C/ COMISIÓN DE ...
16002  LEZCANO, JOSÉ ORLANDO C/ ÓRGANO JUZGADOR DE LA...
16003   GONZALEZ, MARCELINO S/ PREPARACIÓN DE LA ACCIÓN"
16004       BENÍTEZ, ORLANDO FEDERICO S/ AMPARO POR MORA

                                                   Fallo Tipo Resolucion  \
0      V I S T O: \r\nEstos autos caratulados: “TELEC...
1      V I S T O:\r\nEstos autos caratulados: “CAZAL ...
2      V I S T O:\r\nEstos autos caratulados: “INCIDE...
3      V I S T O:\r\nEstos autos caratulados: “BIBOLI...
4      V I S T O:\r\nEstos autos caratulados: “AGUAS ...
...                                                  ...  ...        ...
16000  FORMOSA, quince de noviembre de dos mil veinti...
16001  FORMOSA, quince de noviembre de dos mil veinti...
16002  FORMOSA, veintitrés de noviembre de dos mil ve...
16003  FORMOSA, veintitrés de noviembre de dos mil ve...
16004  FORMOSA, veintitrés de noviembre de dos mil ve...

      Expediente                Fecha      fecord
0                 0000-00-00 00:00:00  2005/03/10
1                 0000-00-00 00:00:00  2009/02/02
2                 0000-00-00 00:00:00  2009/02/02
3                 0000-00-00 00:00:00  2009/02/02
4                 0000-00-00 00:00:00  2009/02/03
...          ...                  ...         ...
16000             2021-12-10 10:54:48  2021/11/15
16001             2021-12-10 10:59:09  2021/11/15
16002             2021-12-10 11:01:06  2021/11/23
16003             2021-12-10 11:05:31  2021/11/23
16004             2021-12-10 11:06:35  2021/11/23

[15999 rows x 11 columns]


Columna: Expediente
Valores vacios:        Id_Fallos  NroFallo  FechaFallo  Organismo  \
0             42      9966  10/03/2005          2
1              2     13453  02/02/2009          2
2              3     13455  02/02/2009          2
3              4     13457  02/02/2009          2
4              5     13459  03/02/2009          2
...          ...       ...         ...        ...
16000      16136     12303  15/11/2021         31
16001      16137     12304  15/11/2021         31
16002      16138     12305  23/11/2021         31
16003      16139     12306  23/11/2021         31
16004      16140     12307  23/11/2021         31

                                                  Partes  \
0      TELECOM ARG. S.A. S/ ACCION AUTONOMA DE NULIDA...
1        CAZAL CARLOS ALBERTO C/ VEGA MARIO S/ EJECUTIVO
2      INCIDENTE DE ESTIMACION DE HONORARIOS Y MEDIDA...
3      BIBOLINI, JOSE MARIA ANGEL S/ SUCESORIO ‘INCID...
4      AGUAS DE FORMOSA C/ FRIGORIFICO NORTE S.R.L. S...
...                                                  ...
16000  FERNÁNDEZ, LIDIA MABEL Y OTROS C/ COMISIÓN DE ...
16001  FERNÁNDEZ, LIDIA MABEL Y OTROS C/ COMISIÓN DE ...
16002  LEZCANO, JOSÉ ORLANDO C/ ÓRGANO JUZGADOR DE LA...
16003   GONZALEZ, MARCELINO S/ PREPARACIÓN DE LA ACCIÓN"
16004       BENÍTEZ, ORLANDO FEDERICO S/ AMPARO POR MORA

                                                   Fallo Tipo Resolucion  \
0      V I S T O: \r\nEstos autos caratulados: “TELEC...
1      V I S T O:\r\nEstos autos caratulados: “CAZAL ...
2      V I S T O:\r\nEstos autos caratulados: “INCIDE...
3      V I S T O:\r\nEstos autos caratulados: “BIBOLI...
4      V I S T O:\r\nEstos autos caratulados: “AGUAS ...
...                                                  ...  ...        ...
16000  FORMOSA, quince de noviembre de dos mil veinti...
16001  FORMOSA, quince de noviembre de dos mil veinti...
16002  FORMOSA, veintitrés de noviembre de dos mil ve...
16003  FORMOSA, veintitrés de noviembre de dos mil ve...
16004  FORMOSA, veintitrés de noviembre de dos mil ve...

      Expediente                Fecha      fecord
0                 0000-00-00 00:00:00  2005/03/10
1                 0000-00-00 00:00:00  2009/02/02
2                 0000-00-00 00:00:00  2009/02/02
3                 0000-00-00 00:00:00  2009/02/02
4                 0000-00-00 00:00:00  2009/02/03
...          ...                  ...         ...
16000             2021-12-10 10:54:48  2021/11/15
16001             2021-12-10 10:59:09  2021/11/15
16002             2021-12-10 11:01:06  2021/11/23
16003             2021-12-10 11:05:31  2021/11/23
16004             2021-12-10 11:06:35  2021/11/23

[15999 rows x 11 columns]


Columna: Fecha
Valores vacios: 0


Columna: fecord
Valores vacios: 0