# Extracción, trasnformación y carga de datos

## Extracción de los datos

In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [23]:
# Conexión a la base de datos
engine = create_engine('mysql+pymysql://root:sistemas1@localhost/c1jurisprudencia')

In [24]:

# Consulta SQL para seleccionar los datos que deseas extraer
query = "SELECT * FROM fallos"

# Conecta a la base de datos
connection = engine.raw_connection()
cursor = connection.cursor()

# Ejecuta la consulta y carga los resultados en un DataFrame
cursor.execute(query)
df = pd.DataFrame(cursor.fetchall(), columns=[desc[0] for desc in cursor.description])

# Cierra el cursor y la conexión
cursor.close()
connection.close()

In [27]:
df.head()

,Id_Fallos,NroFallo,FechaFallo,Organismo,Partes,Fallo,Tipo,Resolucion,Expediente,Fecha,fecord
0,42,9966,10/03/2005,2,TELECOM ARG. S.A. S/ ACCION AUTONOMA DE NULIDA...,V I S T O: \r\nEstos autos caratulados: “TELEC...,,,,0000-00-00 00:00:00,2005/03/10
1,2,13453,02/02/2009,2,CAZAL CARLOS ALBERTO C/ VEGA MARIO S/ EJECUTIVO,V I S T O:\r\nEstos autos caratulados: “CAZAL ...,,,,0000-00-00 00:00:00,2009/02/02
2,3,13455,02/02/2009,2,INCIDENTE DE ESTIMACION DE HONORARIOS Y MEDIDA...,V I S T O:\r\nEstos autos caratulados: “INCIDE...,,,,0000-00-00 00:00:00,2009/02/02
3,4,13457,02/02/2009,2,"BIBOLINI, JOSE MARIA ANGEL S/ SUCESORIO ‘INCID...",V I S T O:\r\nEstos autos caratulados: “BIBOLI...,,,,0000-00-00 00:00:00,2009/02/02
4,5,13459,03/02/2009,2,AGUAS DE FORMOSA C/ FRIGORIFICO NORTE S.R.L. S...,V I S T O:\r\nEstos autos caratulados: “AGUAS ...,,,,0000-00-00 00:00:00,2009/02/03

In [39]:
df.shape

(1746, 11)

In [43]:
df.columns

Index(['Id_Fallos', 'NroFallo', 'FechaFallo', 'Organismo', 'Partes', 'Fallo',
       'Tipo', 'Resolucion', 'Expediente', 'Fecha', 'fecord'],
      dtype='object')

In [29]:
df.describe()

         Id_Fallos      NroFallo    Organismo
count  1746.000000   1746.000000  1746.000000
mean    884.692440  11580.252577     1.848225
std     527.555033   3607.406685     0.358906
min       2.000000   3203.000000     1.000000
25%     440.250000  11778.750000     2.000000
50%     877.500000  12993.000000     2.000000
75%    1315.750000  13581.750000     2.000000
max    3699.000000  14814.000000     2.000000

## Trasnformación

### Limpieza de datos

#### Valores nulos

In [53]:
# Ver valores nulos
cantidad_nulos = df.isnull().sum()
print(cantidad_nulos)

Id_Fallos     0
NroFallo      0
FechaFallo    0
Organismo     0
Partes        0
Fallo         0
Tipo          0
Resolucion    0
Expediente    0
Fecha         0
fecord        0
dtype: int64

In [60]:
# También puedes verificar si hay cadenas vacías en cada columna
nroFallo = (df['NroFallo']== '').any().sum()
nroFallo

0

In [ ]:
FechaFallo     = (df['FechaFallo']== '').any().sum()
FechaFallo

In [ ]:
Organismo          = (df['Organismo']== '').any().sum()
Organismo

In [62]:
Partes          = (df['Partes']== '').any().sum()
Partes

1

In [65]:
df_p = df[df['Partes'] == Partes]
df_p

,Id_Fallos,NroFallo,FechaFallo,Organismo,Partes,Fallo,Tipo,Resolucion,Expediente,Fecha,fecord
0,42,9966,10/03/2005,2,1,V I S T O: \r\nEstos autos caratulados: “TELEC...,,,,0000-00-00 00:00:00,2005/03/10
1,2,13453,02/02/2009,2,1,V I S T O:\r\nEstos autos caratulados: “CAZAL ...,,,,0000-00-00 00:00:00,2009/02/02
2,3,13455,02/02/2009,2,1,V I S T O:\r\nEstos autos caratulados: “INCIDE...,,,,0000-00-00 00:00:00,2009/02/02
3,4,13457,02/02/2009,2,1,V I S T O:\r\nEstos autos caratulados: “BIBOLI...,,,,0000-00-00 00:00:00,2009/02/02
4,5,13459,03/02/2009,2,1,V I S T O:\r\nEstos autos caratulados: “AGUAS ...,,,,0000-00-00 00:00:00,2009/02/03
...,...,...,...,...,...,...,...,...,...,...,...
1741,1754,3474,14/05/2010,1,1,"VISTOS:\r\nEstos autos caratulados: ""BARRETO, ...",,,,0000-00-00 00:00:00,2010/05/14
1742,1755,3475,17/05/2010,1,1,"VISTOS:\r\nEstos autos caratulados: ""TRANSNEA ...",,,,0000-00-00 00:00:00,2010/05/17
1743,1756,3476,17/05/2010,1,1,"VISTOS:\r\nEstos autos caratulados: ""ESCO S.A....",,,,0000-00-00 00:00:00,2010/05/17
1744,1757,3477,18/05/2010,1,1,"En la ciudad de Formosa, Capital de la Provinc...",,,,0000-00-00 00:00:00,2010/05/18
1745,1758,3478,20/05/2010,1,1,"VISTOS:\r\nEstos autos caratulados: ""BARBERIS,...",,,,0000-00-00 00:00:00,2010/05/20