# Extracción, transformación y carga de datos

## Extracción de los datos

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
# Conexión a la base de datos
engine = create_engine('mysql+pymysql://civil7:v6TCV8KUFtqCXKnv@10.0.52.250/c1jurisprudencia')

In [2]:
engine = create_engine('mysql+pymysql://root:sistemas1@localhost/c1jurisprudencia')

In [3]:
# FALLOS
# Consulta SQL para seleccionar los datos que deseas extraer
query = "SELECT * FROM fallos"

# Conecta a la base de datos
connection = engine.raw_connection()
cursor = connection.cursor()

# Ejecuta la consulta y carga los resultados en un DataFrame
cursor.execute(query)
df = pd.DataFrame(cursor.fetchall(), columns=[desc[0] for desc in cursor.description])

# Cierra el cursor y la conexión
cursor.close()
connection.close()

In [4]:
df.head()

,Id_Fallos,NroFallo,FechaFallo,Organismo,Partes,Fallo,Tipo,Resolucion,Expediente,Fecha,fecord
0,42,9966,10/03/2005,2,TELECOM ARG. S.A. S/ ACCION AUTONOMA DE NULIDA...,V I S T O: \r\nEstos autos caratulados: “TELEC...,,,,0000-00-00 00:00:00,2005/03/10
1,2,13453,02/02/2009,2,CAZAL CARLOS ALBERTO C/ VEGA MARIO S/ EJECUTIVO,V I S T O:\r\nEstos autos caratulados: “CAZAL ...,,,,0000-00-00 00:00:00,2009/02/02
2,3,13455,02/02/2009,2,INCIDENTE DE ESTIMACION DE HONORARIOS Y MEDIDA...,V I S T O:\r\nEstos autos caratulados: “INCIDE...,,,,0000-00-00 00:00:00,2009/02/02
3,4,13457,02/02/2009,2,"BIBOLINI, JOSE MARIA ANGEL S/ SUCESORIO ‘INCID...",V I S T O:\r\nEstos autos caratulados: “BIBOLI...,,,,0000-00-00 00:00:00,2009/02/02
4,5,13459,03/02/2009,2,AGUAS DE FORMOSA C/ FRIGORIFICO NORTE S.R.L. S...,V I S T O:\r\nEstos autos caratulados: “AGUAS ...,,,,0000-00-00 00:00:00,2009/02/03

## Trasnformación de los datos

### Descripción de los datos

In [30]:
registros   = df.shape[0]
registros

1746

In [29]:
columnas    = df.shape[1]
columnas

11

In [6]:
df.columns

Index(['Id_Fallos', 'NroFallo', 'FechaFallo', 'Organismo', 'Partes', 'Fallo',
       'Tipo', 'Resolucion', 'Expediente', 'Fecha', 'fecord'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1746 entries, 0 to 1745
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Id_Fallos   1746 non-null   int64
 1   NroFallo    1746 non-null   int64
 2   FechaFallo  1746 non-null   object
 3   Organismo   1746 non-null   int64
 4   Partes      1746 non-null   object
 5   Fallo       1746 non-null   object
 6   Tipo        1746 non-null   object
 7   Resolucion  1746 non-null   object
 8   Expediente  1746 non-null   object
 9   Fecha       1746 non-null   object
 10  fecord      1746 non-null   object
dtypes: int64(3), object(8)
memory usage: 150.2+ KB

In [8]:
df['Partes'] = df['Partes'].astype(str)
df['Fallo'] = df['Fallo'].astype(str)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1746 entries, 0 to 1745
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Id_Fallos   1746 non-null   int64
 1   NroFallo    1746 non-null   int64
 2   FechaFallo  1746 non-null   object
 3   Organismo   1746 non-null   int64
 4   Partes      1746 non-null   object
 5   Fallo       1746 non-null   object
 6   Tipo        1746 non-null   object
 7   Resolucion  1746 non-null   object
 8   Expediente  1746 non-null   object
 9   Fecha       1746 non-null   object
 10  fecord      1746 non-null   object
dtypes: int64(3), object(8)
memory usage: 150.2+ KB

In [8]:
df.describe()

          Id_Fallos       NroFallo     Organismo
count  18047.000000   18047.000000  18047.000000
mean    9117.725772   10703.625312      9.062393
std     5260.313307    6576.785305     12.026633
min        2.000000       1.000000      0.000000
25%     4533.500000    5080.500000      2.000000
50%     9154.000000   11476.000000      2.000000
75%    13675.500000   15716.500000      9.000000
max    18189.000000  170003.000000     37.000000

### Limpieza de datos

#### Valores nulos

In [29]:
for columna in df.columns:
    print(f"Columna: {columna}")
    
    # Encuentra valores nulos en la columna
    valores_nulos = df[columna].isnull().sum()
    print(f"Valores nulos: {valores_nulos}")
     
    # Imprime una línea en blanco para separar las columnas
    print("\n")

Columna: Id_Fallos
Valores nulos: 0


Columna: NroFallo
Valores nulos: 0


Columna: FechaFallo
Valores nulos: 0


Columna: Organismo
Valores nulos: 0


Columna: Partes
Valores nulos: 0


Columna: Fallo
Valores nulos: 0


Columna: Tipo
Valores nulos: 0


Columna: Resolucion
Valores nulos: 2047


Columna: Expediente
Valores nulos: 2047


Columna: Fecha
Valores nulos: 0


Columna: fecord
Valores nulos: 0

#### Registros duplicados

In [30]:
# Encuentra valores duplicados en la columna
valores_duplicados = df.duplicated().sum()
print(f"Valores duplicados: {valores_duplicados}")

Valores duplicados: 0

#### Registros con valores vacios

In [14]:
for columna in df.columns:
    print(f"Columna: {columna}")
    
    # Encuentra valores vacios en la columna
    valores_nulos = df.loc[df[columna] == '']   
    
    if valores_nulos.empty:
        print(f"Valores vacios: 0")
    else:
        print(f"Valores vacios ({len(valores_nulos)}): ")
        print("\n")
        print(valores_nulos)

     
    # Imprime una línea en blanco para separar las columnas
    print("\n")

Columna: Id_Fallos
Valores vacios: 0


Columna: NroFallo
Valores vacios: 0


Columna: FechaFallo
Valores vacios: 0


Columna: Organismo
Valores vacios: 0


Columna: Partes
Valores vacios (1):


     Id_Fallos  NroFallo  FechaFallo  Organismo Partes Fallo Tipo Resolucion  \
718        722     12946  03/07/2008          2

    Expediente                Fecha      fecord
718             0000-00-00 00:00:00  2008/07/03


Columna: Fallo
Valores vacios (1):


     Id_Fallos  NroFallo  FechaFallo  Organismo Partes Fallo Tipo Resolucion  \
718        722     12946  03/07/2008          2

    Expediente                Fecha      fecord
718             0000-00-00 00:00:00  2008/07/03


Columna: Tipo
Valores vacios (1746):


      Id_Fallos  NroFallo  FechaFallo  Organismo  \
0            42      9966  10/03/2005          2
1             2     13453  02/02/2009          2
2             3     13455  02/02/2009          2
3             4     13457  02/02/2009          2
4             5     13459  03/02/2009          2
...         ...       ...         ...        ...
1741       1754      3474  14/05/2010          1
1742       1755      3475  17/05/2010          1
1743       1756      3476  17/05/2010          1
1744       1757      3477  18/05/2010          1
1745       1758      3478  20/05/2010          1

                                                 Partes  \
0     TELECOM ARG. S.A. S/ ACCION AUTONOMA DE NULIDA...
1       CAZAL CARLOS ALBERTO C/ VEGA MARIO S/ EJECUTIVO
2     INCIDENTE DE ESTIMACION DE HONORARIOS Y MEDIDA...
3     BIBOLINI, JOSE MARIA ANGEL S/ SUCESORIO ‘INCID...
4     AGUAS DE FORMOSA C/ FRIGORIFICO NORTE S.R.L. S...
...                                                 ...
1741  BARRETO, OMAR S/QUEJA EN AUTOS: “BARRETO, OMAR...
1742  TRANSNEA S.A. S/QUEJA EN AUTOS: “PRIETO, JUAN ...
1743  ESCO S.A. DE CAPITALIZACION Y AHORRO S/QUEJA E...
1744                          GIMENEZ, LUCIANA S/ESTAFA
1745  BARBERIS, ALFREDO CARLOS S/QUEJA EN AUTOS: “DR...

                                                  Fallo Tipo Resolucion  \
0     V I S T O: \r\nEstos autos caratulados: “TELEC...
1     V I S T O:\r\nEstos autos caratulados: “CAZAL ...
2     V I S T O:\r\nEstos autos caratulados: “INCIDE...
3     V I S T O:\r\nEstos autos caratulados: “BIBOLI...
4     V I S T O:\r\nEstos autos caratulados: “AGUAS ...
...                                                 ...  ...        ...
1741  VISTOS:\r\nEstos autos caratulados: "BARRETO, ...
1742  VISTOS:\r\nEstos autos caratulados: "TRANSNEA ...
1743  VISTOS:\r\nEstos autos caratulados: "ESCO S.A....
1744  En la ciudad de Formosa, Capital de la Provinc...
1745  VISTOS:\r\nEstos autos caratulados: "BARBERIS,...

     Expediente                Fecha      fecord
0                0000-00-00 00:00:00  2005/03/10
1                0000-00-00 00:00:00  2009/02/02
2                0000-00-00 00:00:00  2009/02/02
3                0000-00-00 00:00:00  2009/02/02
4                0000-00-00 00:00:00  2009/02/03
...         ...                  ...         ...
1741             0000-00-00 00:00:00  2010/05/14
1742             0000-00-00 00:00:00  2010/05/17
1743             0000-00-00 00:00:00  2010/05/17
1744             0000-00-00 00:00:00  2010/05/18
1745             0000-00-00 00:00:00  2010/05/20

[1746 rows x 11 columns]


Columna: Resolucion
Valores vacios (1746):


      Id_Fallos  NroFallo  FechaFallo  Organismo  \
0            42      9966  10/03/2005          2
1             2     13453  02/02/2009          2
2             3     13455  02/02/2009          2
3             4     13457  02/02/2009          2
4             5     13459  03/02/2009          2
...         ...       ...         ...        ...
1741       1754      3474  14/05/2010          1
1742       1755      3475  17/05/2010          1
1743       1756      3476  17/05/2010          1
1744       1757      3477  18/05/2010          1
1745       1758      3478  20/05/2010          1

                                                 Partes  \
0     TELECOM ARG. S.A. S/ ACCION AUTONOMA DE NULIDA...
1       CAZAL CARLOS ALBERTO C/ VEGA MARIO S/ EJECUTIVO
2     INCIDENTE DE ESTIMACION DE HONORARIOS Y MEDIDA...
3     BIBOLINI, JOSE MARIA ANGEL S/ SUCESORIO ‘INCID...
4     AGUAS DE FORMOSA C/ FRIGORIFICO NORTE S.R.L. S...
...                                                 ...
1741  BARRETO, OMAR S/QUEJA EN AUTOS: “BARRETO, OMAR...
1742  TRANSNEA S.A. S/QUEJA EN AUTOS: “PRIETO, JUAN ...
1743  ESCO S.A. DE CAPITALIZACION Y AHORRO S/QUEJA E...
1744                          GIMENEZ, LUCIANA S/ESTAFA
1745  BARBERIS, ALFREDO CARLOS S/QUEJA EN AUTOS: “DR...

                                                  Fallo Tipo Resolucion  \
0     V I S T O: \r\nEstos autos caratulados: “TELEC...
1     V I S T O:\r\nEstos autos caratulados: “CAZAL ...
2     V I S T O:\r\nEstos autos caratulados: “INCIDE...
3     V I S T O:\r\nEstos autos caratulados: “BIBOLI...
4     V I S T O:\r\nEstos autos caratulados: “AGUAS ...
...                                                 ...  ...        ...
1741  VISTOS:\r\nEstos autos caratulados: "BARRETO, ...
1742  VISTOS:\r\nEstos autos caratulados: "TRANSNEA ...
1743  VISTOS:\r\nEstos autos caratulados: "ESCO S.A....
1744  En la ciudad de Formosa, Capital de la Provinc...
1745  VISTOS:\r\nEstos autos caratulados: "BARBERIS,...

     Expediente                Fecha      fecord
0                0000-00-00 00:00:00  2005/03/10
1                0000-00-00 00:00:00  2009/02/02
2                0000-00-00 00:00:00  2009/02/02
3                0000-00-00 00:00:00  2009/02/02
4                0000-00-00 00:00:00  2009/02/03
...         ...                  ...         ...
1741             0000-00-00 00:00:00  2010/05/14
1742             0000-00-00 00:00:00  2010/05/17
1743             0000-00-00 00:00:00  2010/05/17
1744             0000-00-00 00:00:00  2010/05/18
1745             0000-00-00 00:00:00  2010/05/20

[1746 rows x 11 columns]


Columna: Expediente
Valores vacios (1746):


      Id_Fallos  NroFallo  FechaFallo  Organismo  \
0            42      9966  10/03/2005          2
1             2     13453  02/02/2009          2
2             3     13455  02/02/2009          2
3             4     13457  02/02/2009          2
4             5     13459  03/02/2009          2
...         ...       ...         ...        ...
1741       1754      3474  14/05/2010          1
1742       1755      3475  17/05/2010          1
1743       1756      3476  17/05/2010          1
1744       1757      3477  18/05/2010          1
1745       1758      3478  20/05/2010          1

                                                 Partes  \
0     TELECOM ARG. S.A. S/ ACCION AUTONOMA DE NULIDA...
1       CAZAL CARLOS ALBERTO C/ VEGA MARIO S/ EJECUTIVO
2     INCIDENTE DE ESTIMACION DE HONORARIOS Y MEDIDA...
3     BIBOLINI, JOSE MARIA ANGEL S/ SUCESORIO ‘INCID...
4     AGUAS DE FORMOSA C/ FRIGORIFICO NORTE S.R.L. S...
...                                                 ...
1741  BARRETO, OMAR S/QUEJA EN AUTOS: “BARRETO, OMAR...
1742  TRANSNEA S.A. S/QUEJA EN AUTOS: “PRIETO, JUAN ...
1743  ESCO S.A. DE CAPITALIZACION Y AHORRO S/QUEJA E...
1744                          GIMENEZ, LUCIANA S/ESTAFA
1745  BARBERIS, ALFREDO CARLOS S/QUEJA EN AUTOS: “DR...

                                                  Fallo Tipo Resolucion  \
0     V I S T O: \r\nEstos autos caratulados: “TELEC...
1     V I S T O:\r\nEstos autos caratulados: “CAZAL ...
2     V I S T O:\r\nEstos autos caratulados: “INCIDE...
3     V I S T O:\r\nEstos autos caratulados: “BIBOLI...
4     V I S T O:\r\nEstos autos caratulados: “AGUAS ...
...                                                 ...  ...        ...
1741  VISTOS:\r\nEstos autos caratulados: "BARRETO, ...
1742  VISTOS:\r\nEstos autos caratulados: "TRANSNEA ...
1743  VISTOS:\r\nEstos autos caratulados: "ESCO S.A....
1744  En la ciudad de Formosa, Capital de la Provinc...
1745  VISTOS:\r\nEstos autos caratulados: "BARBERIS,...

     Expediente                Fecha      fecord
0                0000-00-00 00:00:00  2005/03/10
1                0000-00-00 00:00:00  2009/02/02
2                0000-00-00 00:00:00  2009/02/02
3                0000-00-00 00:00:00  2009/02/02
4                0000-00-00 00:00:00  2009/02/03
...         ...                  ...         ...
1741             0000-00-00 00:00:00  2010/05/14
1742             0000-00-00 00:00:00  2010/05/17
1743             0000-00-00 00:00:00  2010/05/17
1744             0000-00-00 00:00:00  2010/05/18
1745             0000-00-00 00:00:00  2010/05/20

[1746 rows x 11 columns]


Columna: Fecha
Valores vacios: 0


Columna: fecord
Valores vacios: 0

#### Registros con mismo numero y organismo

In [19]:
# Agrupa por NroFallo y Organismo y obtén los grupos que tienen más de un fallo
grouped = df.groupby(['NroFallo', 'Organismo'])
duplicates = grouped.filter(lambda group: len(group) > 1)

# Muestra los detalles de los fallos con el mismo número de fallo y organismo
print(duplicates)

      Id_Fallos  NroFallo  FechaFallo  Organismo  \
0            42      9966  10/03/2005          2
21           22      8736  25/03/2004          2
22           23      8736  25/03/2004          2
27           28      9073  03/06/2004          2
39           40      9793  16/12/2004          2
...         ...       ...         ...        ...
1364       1366     14274  15/03/2010          2
1496       1506      3213  11/03/2009          1
1497       1507      3213  11/03/2009          1
1504       1514      3220  20/04/2009          1
1514       1524      3220  20/04/2009          1

                                                 Partes  \
0     TELECOM ARG. S.A. S/ ACCION AUTONOMA DE NULIDA...
21    BANCO HIPOTECARIO S.A. C/ ROSENDE, HUGO OSCAR ...
22    BANCO HIPOTECARIO S.A. C/ ROSENDE, HUGO OSCAR ...
27    DOMINGUEZ, SILVIA NOELIA C/ VILLENA JORGE Y/U ...
39    BRIZUELA, TOMÁS ALARICO C/SCOFFIELD, JOSE JOAQ...
...                                                 ...
1364  ROMERO, WALTER DAVID C/ VOLTA, SANTIAGO LUIS Y...
1496  RODRIGUEZ, RUBEN ENRIQUE C/BANCO DE FORMOSA S....
1497  RODRIGUEZ, RUBEN ENRIQUE C/BANCO DE FORMOSA S....
1504          FERNANDEZ, CARLOS ALBERTO S/EXCARCELACION
1514  VELARDEZ, MARCELO ELPIDIO Y OTROS S/QUEJA EN A...

                                                  Fallo Tipo Resolucion  \
0     V I S T O: \r\nEstos autos caratulados: “TELEC...
21    V I S T O:\r\nEstos autos caratulados “BANCO H...
22    V I S T O:\r\nEstos autos caratulados “BANCO H...
27    V I S T O:\r\nEstos autos caratulados: “DOMING...
39    V I S T O:\r\nEstos autos caratulados “BRIZUEL...
...                                                 ...  ...        ...
1364  V I S T O:\r\nEstos autos caratulados: “ROMERO...
1496  VISTOS:\r\nEstos autos caratulados: "RODRIGUEZ...
1497  VISTOS:\r\nEstos autos caratulados: "RODRIGUEZ...
1504  VISTOS:\r\nEstos autos caratulados: "FERNANDEZ...
1514  VISTOS:\r\nEstos autos caratulados: "VELARDEZ,...

     Expediente                Fecha      fecord
0                0000-00-00 00:00:00  2005/03/10
21               0000-00-00 00:00:00  2004/03/25
22               0000-00-00 00:00:00  2004/03/25
27               0000-00-00 00:00:00  2004/06/03
39               0000-00-00 00:00:00  2004/12/16
...         ...                  ...         ...
1364             0000-00-00 00:00:00  2010/03/15
1496             0000-00-00 00:00:00  2009/03/11
1497             0000-00-00 00:00:00  2009/03/11
1504             0000-00-00 00:00:00  2009/04/20
1514             0000-00-00 00:00:00  2009/04/20

[468 rows x 11 columns]

In [21]:
# Agrupa por NroFallo y Organismo y cuenta cuántos registros hay en cada grupo
count_fallos = df.groupby(['NroFallo', 'Organismo']).size().reset_index(name='Cantidad de Fallos')

# Filtra los grupos que tienen más de un fallo
count_fallos = count_fallos[count_fallos['Cantidad de Fallos'] > 1]

In [18]:
count_fallos

      NroFallo  Organismo  Cantidad de Fallos
10        3213          1                   2
17        3220          1                   2
262       8736          2                   2
267       9073          2                   2
285       9793          2                   2
...        ...        ...                 ...
974      13379          2                   2
976      13381          2                   3
977      13382          2                   2
1258     14274          2                   2
1483     14505          2                   2

[231 rows x 3 columns]

In [24]:
# Agrupa por NroFallo y Organismo y obtén los grupos que tienen más de un fallo
grouped = df.groupby(['NroFallo', 'Organismo'])
duplicates = grouped.filter(lambda group: len(group) > 1)

# Muestra los detalles de los fallos con el mismo número de fallo y organismo
print(duplicates)

      Id_Fallos  NroFallo  FechaFallo  Organismo  \
0            42      9966  10/03/2005          2
21           22      8736  25/03/2004          2
22           23      8736  25/03/2004          2
27           28      9073  03/06/2004          2
39           40      9793  16/12/2004          2
...         ...       ...         ...        ...
1364       1366     14274  15/03/2010          2
1496       1506      3213  11/03/2009          1
1497       1507      3213  11/03/2009          1
1504       1514      3220  20/04/2009          1
1514       1524      3220  20/04/2009          1

                                                 Partes  \
0     TELECOM ARG. S.A. S/ ACCION AUTONOMA DE NULIDA...
21    BANCO HIPOTECARIO S.A. C/ ROSENDE, HUGO OSCAR ...
22    BANCO HIPOTECARIO S.A. C/ ROSENDE, HUGO OSCAR ...
27    DOMINGUEZ, SILVIA NOELIA C/ VILLENA JORGE Y/U ...
39    BRIZUELA, TOMÁS ALARICO C/SCOFFIELD, JOSE JOAQ...
...                                                 ...
1364  ROMERO, WALTER DAVID C/ VOLTA, SANTIAGO LUIS Y...
1496  RODRIGUEZ, RUBEN ENRIQUE C/BANCO DE FORMOSA S....
1497  RODRIGUEZ, RUBEN ENRIQUE C/BANCO DE FORMOSA S....
1504          FERNANDEZ, CARLOS ALBERTO S/EXCARCELACION
1514  VELARDEZ, MARCELO ELPIDIO Y OTROS S/QUEJA EN A...

                                                  Fallo Tipo Resolucion  \
0     V I S T O: \r\nEstos autos caratulados: “TELEC...
21    V I S T O:\r\nEstos autos caratulados “BANCO H...
22    V I S T O:\r\nEstos autos caratulados “BANCO H...
27    V I S T O:\r\nEstos autos caratulados: “DOMING...
39    V I S T O:\r\nEstos autos caratulados “BRIZUEL...
...                                                 ...  ...        ...
1364  V I S T O:\r\nEstos autos caratulados: “ROMERO...
1496  VISTOS:\r\nEstos autos caratulados: "RODRIGUEZ...
1497  VISTOS:\r\nEstos autos caratulados: "RODRIGUEZ...
1504  VISTOS:\r\nEstos autos caratulados: "FERNANDEZ...
1514  VISTOS:\r\nEstos autos caratulados: "VELARDEZ,...

     Expediente                Fecha      fecord
0                0000-00-00 00:00:00  2005/03/10
21               0000-00-00 00:00:00  2004/03/25
22               0000-00-00 00:00:00  2004/03/25
27               0000-00-00 00:00:00  2004/06/03
39               0000-00-00 00:00:00  2004/12/16
...         ...                  ...         ...
1364             0000-00-00 00:00:00  2010/03/15
1496             0000-00-00 00:00:00  2009/03/11
1497             0000-00-00 00:00:00  2009/03/11
1504             0000-00-00 00:00:00  2009/04/20
1514             0000-00-00 00:00:00  2009/04/20

[468 rows x 11 columns]

### Campo Fecha

In [25]:
# Convierte el campo "FechaFallo" a un objeto de fecha
df['FechaFallo'] = pd.to_datetime(df['FechaFallo'], format='%d/%m/%Y', errors='coerce')

# La columna "FechaFallo" ahora contiene objetos de fecha
print(df['FechaFallo'])

0      2005-03-10
1      2009-02-02
2      2009-02-02
3      2009-02-02
4      2009-02-03
          ...
1741   2010-05-14
1742   2010-05-17
1743   2010-05-17
1744   2010-05-18
1745   2010-05-20
Name: FechaFallo, Length: 1746, dtype: datetime64[ns]

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1746 entries, 0 to 1745
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Id_Fallos   1746 non-null   int64
 1   NroFallo    1746 non-null   int64
 2   FechaFallo  1746 non-null   datetime64[ns]
 3   Organismo   1746 non-null   int64
 4   Partes      1746 non-null   object
 5   Fallo       1746 non-null   object
 6   Tipo        1746 non-null   object
 7   Resolucion  1746 non-null   object
 8   Expediente  1746 non-null   object
 9   Fecha       1746 non-null   object
 10  fecord      1746 non-null   object
dtypes: datetime64[ns](1), int64(3), object(7)
memory usage: 150.2+ KB